<header class="navbar navbar-fixed-top navbar-inverse"> <!--navbar-inverse lam cho header toi'-->
      <div class="container">
        <%= link_to "sample app", "/home", id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Help",   help_path %></li>
            <li><%= link_to "Log in", signup_path %></li>
          </ul>
        </nav>
      </div>
    </header>
